/* FONTS */
:root {
  --ff-ld: "Lexend Deca", sans-serif;
  --ff-bs: "Big Shoulders Display", cursive;
  --ff-sm: 1rem;
  --fs-md: 1.1rem;
  --fs-lg: calc(var(--fs-md) * 3);
  --fw-rg: 400;
  --fw-xb: 700;
}

/* COLORS */
:root {
  --clr-orange: hsl(31, 77%, 52%);
  --clr-cyan: hsl(184, 100%, 22%);
  --clr-dark-cyan: hsl(179, 100%, 13%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-white: hsla(0, 0%, 100%, 0.7);
  --clr-gray: hsl(0, 0%, 95%);
}

/* VALUES */
:root {
  --bradius: 0.8rem;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

html,
body {
  height: 100%;
}

img {
  user-select: none;
}

button {
  cursor: pointer;
  transition: color 0.4s, background-color 0.4s, transform 0.4s;
  font: inherit;
  border: none;
  position: relative;
}

button:active {
  transform: scale(0.95);
}

/* BODY */

body {
  background-color: var(--clr-light-white);
  font: var(--fw-rg) var(--fs-md) var(--ff-ld);
  color: var(--clr-light-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* TITLE - h2 */

h2 {
  font: var(--fw-xb) var(--fs-lg) var(--ff-bs);
  color: var(--clr-gray);
  margin: 2.4rem 0;
}

/* MAIN */

main {
  width: 69rem;
  display: flex;
}

/* CARD */

.card {
  height: 100%;
  width: 33.33%;
  padding: 4rem;
}

.card:nth-child(1) {
  background-color: var(--clr-orange);
  border-radius: var(--bradius) 0 0 var(--bradius);
}

.card:nth-child(2) {
  background-color: var(--clr-cyan);
}

.card:nth-child(3) {
  background-color: var(--clr-dark-cyan);
  border-radius: 0 var(--bradius) var(--bradius) 0;
}

.card img {
  width: 5rem;
}

.card p {
  line-height: 1.8;
}

.card button {
  margin-top: 6.2rem;
  padding: 1.2rem 2.8rem;
  border-radius: 10rem;
  color: var(--clr-orange);
  border: 0.2rem solid var(--clr-white);
}

.card:nth-child(2) button {
  color: var(--clr-cyan);
}

.card:nth-child(3) button {
  color: var(--clr-dark-cyan);
}

.card button:hover {
  background: transparent;
  color: var(--clr-light-white);
}

.attribution {
  position: absolute;
  bottom: 1.3rem;
  font-size: var(--ff-sm);
}

.attribution a {
  color: var(--clr-cyan);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

.attribution a:nth-child(1) {
  border-right: 0.1rem solid;
  padding-right: 1rem;
}

.attribution a:nth-child(2) {
  padding-left: 1rem;
}

@media (max-height: 500px) and (min-width: 735px) {
  body {
    height: 50rem;
  }
}

@media (max-width: 735px) {
  html,
  body {
    height: auto;
    min-height: 100%;
  }
  body {
    --fs-md: 1.6rem;
    display: block;
  }
  main {
    width: 90%;
    margin: 6rem auto;
    flex-direction: column;
    height: 100%;
  }
  .card {
    width: 100%;
    height: auto;
  }
  .card:nth-child(1) {
    border-radius: var(--bradius) var(--bradius) 0 0;
  }
  .card:nth-child(3) {
    border-radius: 0 0 var(--bradius) var(--bradius);
  }
  .card button {
    margin-top: 3rem;
  }
  .attribution {
    --ff-sm: 1.4rem;
    position: static;
    text-align: center;
    margin-bottom: 3rem;
  }
}

@media (max-width: 374px) {
  html {
    font-size: 2.5vw;
  }
}
